.commentary-create {
  position: relative;
  display: grid;

  align-items: center;
  margin-bottom: $small-font;

  background: white;
  padding: $small-font;
  font-size: $medium-font;
  margin-top: $extra-small-font; 
  border-radius: $small-button-radius;
  font-family: 'Merriweather';
}