#commentaries-note {
  padding: $small-font;
  min-height: $big-card-line-height;

  #commentaries-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: $small-font;
    font-family: "Merriweather";

    align-items: center;
    font-weight: bold;

    #commentaries-icon, #commentaries-header-title {
      display: inline-block;
    }

    #commentaries-icon {
      margin-right: $small-font; 
    }
  }

  #commentaries-box {
    padding: $small-font;
    display: grid;
    grid-row-gap: $extra-small-font;
  }
}