.notes-utils-description {
  padding: $medium-font;
  display: grid;
  grid-gap: 1rem;

  .header {
    display: grid;
    grid-template-columns: 1.5rem auto;
    align-items: center;
    font-size: $small-font;
    font-weight: bold;
    font-family: 'Merriweather';
  }

  .description {
    textarea {
      resize: none;
    }
  }
}