#tags-header-note {
  display: grid;
  grid-template-rows: 1fr; 
  grid-template-columns: 1fr 1fr;

  padding: $small-font;
  font-size: $medium-font;

  #header-tags-title-box {
    align-self: center;

    #title {
      font-family: "Merriweather";
      display: grid;
      align-items: center;
      font-size: $small-font;
      font-weight: bold;
    }

    #title, #tag-icon {
      display: inline-block;
    }

    #tag-icon {
      margin-right: $small-font;
    }
  }

  #write-menu {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: $medium-font;
    justify-items: end;
    align-items: center;
    
    .input-group-text {
      background: $tag-color;
      color: white;
    }

    .input-group {
      font-size: $small-font;
      font-family: 'Merriweather';
    }
  }
}