.header-description-create {
  align-self: start;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .title {
    justify-self: start;

    font-family: "Merriweather";
    font-size: $medium-font;
  }

  .button-container {
    justify-self: end;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $small-font;

    .button {
      height: $large-font;
      width: $large-font;
      font-size: $small-font;
      background: #A6A6A6;
      border-radius: $small-button-radius;

      display: grid;
      align-items: center;
      justify-items: center;
      cursor: pointer;
    }

    .button:hover {
      opacity: 0.75;
    }

    .button:active {
      position: relative;
      top: 1px;
    }
  }
}