.add-button {
  justify-self: end;
  background: $add-color;
  border-radius: 0.2rem;
  padding: 0.2rem;
  font-size: $small-font;
  color: white;
  cursor: pointer;
}

.add-button:hover {
  transition: all 200ms ease-out;
  background: green;
  color: #FEFEFE;
}

.add-button:active {
  position: relative;
  top: 1px;
}