.add-button {
  justify-self: end;

  background: $add-color;
  height: $large-font;
  width: $large-font;
  font-size: $medium-font;

  color: white;
  
  display: grid;
  justify-items: center;
  align-items: center;

  border-radius: $small-button-radius; 
  cursor: pointer;
}

.add-button:hover {
  transition: all 200ms ease-out;
  background: green;
  color: #FEFEFE;
}

.add-button:active {
  position: relative;
  top: 1px;
}