.collections-main-card{
  height: 20rem;
  width: 13.5rem;
  
  background: linear-gradient(#122b3e,#172035);
  cursor: pointer;

  display: grid;
  grid-template-rows: 2rem 16rem 2rem;
  border-radius: 0.2rem;

  .title {
    font-family: "Baloo Bhai";
    font-size: $medium-font;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: $small-font;
    padding-bottom: 0; 
    color: $white;
  }

  .description {
    background:linear-gradient(#a7c6eb,#78adc2);
    margin: $medium-font;
    margin-bottom: $small-font;
    padding: $medium-font;
    font-family: "Baloo Bhai";
    font-size: 0.9rem;
    text-align: justify;
    text-justify: auto;
    color: $black;
    border-radius: 0.2rem; 
    resize: none;
  }

  .footer {
    font-family: "Baloo Bhai";
    padding-left: $medium-font;
    padding-right: $medium-font;
    font-size: 0.9rem;
    display: grid;
    align-items: center;
    justify-items: end;
    color: $white;

    .icon {
      grid-row: 1/2;
      grid-column: 1/2;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    .icon:hover {
      transform: scale(1.3);
      color: darkgray;
    }

    .icon:focus {
      transform: scale(1.3);
      color: darkgray;
    }

    .edit {
      margin-right: 2rem;
    }
  }
}