.collections-page {
  margin-top: 3rem;

  display: grid;
  align-items: center;
  justify-items: center;

  .collections-menu {
    display: grid;
    align-items: center;
    justify-items: center;

    .collections-title {
      color: white;
      font-size: 3rem;
      font-family: "Baloo Bhai";
    }
  }
}