.collections-menu {
  display: grid;
  align-items: center;
  justify-items: center;
  color: white;

  .collections-title {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-family: "Baloo Bhai";
  }
}
