.collections-menu {
  display: grid;
  align-items: center;
  justify-items: center;

  .collections-title {
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    color: $black;
    font-size: 2rem;
    font-family: 'Baloo Bhai';
  }
}
