.notes-add-page {
  position: relative;

  .notes-add {
    position: relative;
    min-height: $big-card-height;
    width: $big-card-width;
    border-radius: 0.2rem; 
    font-family: "Baloo Bhai";
    background: linear-gradient(#1f3057,#2a283d);
  }
}