.search-notes {
  margin: 1.6rem;
  margin-top: 0.8rem;
  margin-bottom: 2.5rem;
  background: #1c1d22;

  display: grid;
  font-family: "Baloo Bhai";
  font-size: 1rem;
  align-items: stretch;
  justify-items: stretch;
  
  overflow-y: auto;
  max-height: 25rem;
}