.modal-search-page {
  position: fixed;
  top: 0;
  left: 0;
  
  z-index: 20;
  min-height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  padding-bottom: 2rem;

  .container {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;

    margin-top: 7rem;

    .search-menu {
      position: relative;
      background: #f0e9ee;
      border-radius: 0.2rem;
      width: 40rem;
      height: $big-card-height;

      .header {
        padding: $small-font;
        font-family: "Baloo Bhai";
        font-size: $medium-font;
        display: grid;
        grid-gap: 1rem;
        .buttons {
          display: grid;
          grid-template-columns: 4fr 1fr;
          align-items: center;

          .first-group {
            align-self: start;
          }
          .second-group {
            align-self: end;
          }
        }
      }

      .submit {
        position: absolute;
        bottom: 0;
        right: 0;
        font-family: "Baloo Bhai";
      }
    }
  }
}