.commentary {
  position: relative;
  display: grid;

  align-items: center;
  margin-bottom: $small-font;

  .comment {
    font-size: $small-font;
    font-family: "Merriweather";
    resize: none;
    padding: $medium-font;
  }
}