#note-title {
  padding: $small-font;
  
  #header {
    align-self: center;
    justify-self: stretch;

    display: grid;
    grid-template-columns: auto 3fr;
    align-items: center;

    #title {
      font-family: "Merriweather";
      font-size: $medium-font;
    }

    #enterTitle {
      justify-self: stretch;
    }

    .form-control {
      margin: $small-font;
      font-size: $medium-font;
      font-family: "Merriweather";
    }
  }
}