.modal-page {
  z-index: 15;
  position: fixed;

  height: 100vh;
  width: 100vw;

  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);

  display: grid;
  justify-items: center;
  align-items: start;

  .modal-box {
    display: grid;
    background: white;

    margin-top: 7rem;

    min-height: 12.5rem;
    width: $big-card-width; 
    border-radius: 0.2rem; 

    .modal-title {
      font-family: "Baloo Bhai";
      font-size: $large-font;
      align-self: center;
      justify-self: center;
      color: $black;
    }

    .modal-text {
      align-self: center;
      text-justify: center;
      
      display: grid;
      align-items: center;
      justify-items: center;

      line-height: $large-font;

      p {
        color: $black;
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-family: "Baloo Bhai";
        font-size: $medium-font;
      }
    }

    .modal-buttons {
      align-self: stretch;
      justify-self: stretch;
      
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;

      .modal-button {
        font-family: "Baloo Bhai";
        font-size: 1rem;
        color: white;

        cursor: pointer;
        border-radius: 0.2rem;
      }

      .modal-green {
        background: $add-color;
      }

      .modal-red {
        background: $exit-color;
      }
    }
  }
}