.commentary {
  display: grid;

  grid-template-columns: auto $medium-font;
  align-items: center;

  .comment {
    font-size: $small-font;
    font-family: "Merriweather";
    resize: none;
  }

  .exit {
    color: darkred;
    font-size: $small-font;
    justify-self: center;
  }

  .exit:hover {
    opacity: 0.5;
  }
}