#create-note-add-page {
  display: grid;
  justify-items: center;
  align-items: start;

  margin-bottom: $large-font;

  .separator {
    margin-top: $small-font;
    border-bottom: $thin-border solid black;
  }

  #create-note-add {
    margin-top: 5vh;

    position: relative;
    background-color: lightsteelblue;
    width: 40vw;
    min-height: 50vh;
    display: grid;
    grid-template-rows: 0.5fr 1fr auto auto auto $large-font;
    border-radius: $extra-small-font; 
  }
}