#description-view {
  display: block;
  margin: $small-font;
  padding: $small-font;
  font-size: $medium-font;
  font-family: "ABeeZee";
  background: darkgrey;
  border-radius: $extra-small-font; 
}