#footer-view {
  align-self: end;

  padding: $small-font;
  
  display: grid;
  align-items: center;

  grid-template-columns: 1fr 1fr;
  font-size: $medium-font; 
  
  #tagsButton {
    grid-column: 2/3;
    background: darkred;
  }
}