#tags {
  #tags-header {
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr;

    padding: $small-font;
    font-size: $small-font;

    #title {
      font-family: "Merriweather";
      display: grid;
      align-items: center;
      font-size: $medium-font;
    }

    #write-menu {
      display: grid;
      grid-template-columns: 80% 20%;
      justify-items: center;
      align-items: center;
      
      .input-group-text {
        background: $tag-color;
        color: white;
      }
    }
  }

  #tags-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: $medium-font;
    grid-gap: $medium-font;
  }
}