.tag {
  position: relative;
  font-size: $small-font;
  padding: $extra-small-font;
  background-color: $tag-color;
  color: white;
  border-radius: $small-button-radius;
  
  display: grid;
  align-items: center;
  justify-items: center;
}