.tag {
  box-sizing: border-box;
  position: relative;
  font-size: $small-font;
  padding: $extra-small-font;
  background-color: $tag-color;
  color: white;
  border-radius: $small-button-radius;
  
  display: grid;
  align-items: center;
  justify-items: center;

  border: $thin-border solid lightgrey; 
}

.tag:hover {
  border: $thin-border solid black;
  background: #353839;
}