.tag {
  font-size: $small-font;
  padding: $extra-small-font;
  background-color: darkred;
  color: white;
  border-radius: $small-button-radius;
  
  display: grid;
  align-items: center;
  justify-items: center;
}