#commentaries-create {
  padding: $small-font;

  #commentaries-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: $medium-font;
    font-family: "Merriweather";

    align-items: center;
  }

  #commentaries-box {
    padding: $small-font;
  }
}