#create-page {
  display: grid;
  justify-items: center;
  align-items: start;

  margin-bottom: $large-font;

  .separator {
    margin-top: $small-font;
    border-bottom: $thin-border solid black;
  }

  #create-add {
    margin-top: 5vh;

    position: relative;
    background-color: lightgrey;
    width: 40vw;
    min-height: 50vh;
    display: grid;
    grid-template-rows: 0.5fr 1fr auto auto auto $large-font;
    border-radius: $extra-small-font; 

    #create-button {
      box-sizing: content-box;
      display: grid;
      justify-items: center;
      align-items: center;
      height: $large-font;
      font-size: $small-font;
      padding: 0;
    }
  }
}