#create-page {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: start;

  margin-bottom: $large-font;

  width: 100vw;

  .separator {
    margin-top: $small-font;
    border-bottom: $thin-border solid black;
  }

  #create-add {
    margin-top: 3rem;

    position: relative;
    background-color: lightgrey;
    width: $big-card-width;
    min-height: $big-card-height;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: $small-font; 
    border-radius: $extra-small-font; 

    #create-button {
      box-sizing: content-box;
      display: grid;
      justify-items: center;
      align-items: end;
      min-height: $large-font;
      font-size: $small-font;
      padding: 0;
    }
  }
}