#create-page {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: start;

  margin-bottom: $large-font;

  width: 100vw;

  .separator {
    margin-top: $small-font;
    border-bottom: $thin-border solid black;
  }

  #create-add {
    margin-top: 3rem;

    position: relative;
    background-color: $card-color;
    width: $big-card-width;
    min-height: $big-card-height;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: $small-font; 
    border-radius: 0.2rem; 

    // box-shadow: 0.2rem 0.2rem 1rem #555,
    //             -0.2rem -0.2rem 1rem #555;

    #create-button {
      background: linear-gradient(#005139, #2f9254);
      box-sizing: content-box;
      display: grid;
      justify-items: center;
      align-items: end;
      min-height: $large-font;
      font-size: $small-font;
      padding: 0;
    }

    #create-button:hover {
      transition: all 250ms ease-out;
      color: darkgray;
    }
  }
}