#description-create {
  padding: $small-font;
  display: grid;
  
  .description {
    padding: $small-font;
    font-size: $medium-font;
    margin-top: $extra-small-font; 
    border-radius: $small-button-radius;
    font-family: 'Merriweather';
  }
}