.error-message-container {
  grid-row: 2/3;
  display: grid;
  align-items: center;
  justify-items: center;

  .error-message {
    height: 2rem;
    width: 22.5rem;
    background: linear-gradient(#9b0a18,#c8372e);
    font-size: 1rem;
    color: white;
    border-radius: 0.2rem;

    display: grid;
    align-items: center;
    justify-items: center;
    font-family: "Baloo Bhai";
  }
}