.comment-view {
  padding: $extra-small-font;
  font-size: $small-font;
  font-family: 'Merriweather';
  padding: $medium-font;

  line-height: $large-font;

  border-bottom: 1px dotted black;
}

.comment-view:last-child {
  border: none;
}