.notes-commentaries-view {
  padding-top: $large-font; 
  padding-bottom: $small-font;

  .header {
    margin: $small-font;
    font-family: "Baloo Bhai";
    font-size: $medium-font;

    .icon {
      margin-right: $small-font;
    }
  }

  .commentaries {
    font-family: "Baloo Bhai";
    font-size: 1rem;
    margin: $small-font;

    .comment {
      padding: $small-font;
      background-color: darkgray; 
      border-radius: 0.2rem;
    }
  }
}