#commentaries-view {
  align-self: start;

  margin: $large-font;
  font-family: "Anonymous Pro";
  font-size: $small-font; 

  #commentaries-title {
    font-size: $small-font;
    font-family: "Merriweather";

    #commentaries-icon, #commentaries-text {
      display: inline-block;
    }

    #commentaries-icon {
      margin-right: $small-font
    }

    margin-bottom: $extra-small-font;
  }

  #commentaries-container {
    background: #C9C0BB;
    border-radius: $small-button-radius;  
  }
}