#description-view {
  position: relative;
  align-self: start;

  display: block;
  margin: $small-font;
  padding: $small-font;
  font-size: $medium-font;
  font-family: "ABeeZee";
  background: darkgrey;
  border-radius: $small-button-radius; 
}