#description-view {
  #description-editor {
    position: relative;
    align-self: start;

    display: block;
    margin: $small-font;
    padding: $small-font;
    font-size: $small-font;
    font-family: "Merriweather";
    background: darkgrey;
    border-radius: $small-button-radius; 
    line-height: $large-font;
  }

  #description-title-box {
    margin: $small-font;
    font-size: $small-font;
    font-family: "Merriweather";

    #description-icon, #description-title {
      display: inline-block;
    }

    #description-icon {
      margin-right: $small-font;
    }
  }
}