.notes-view-description {
  padding-top: $large-font;
  padding-bottom: $small-font;  
  color: $black;

  .editor {
    position: relative;

    display: block;
    margin: $small-font;
    padding: $small-font;
    font-size: 1rem;
    font-family: "Baloo Bhai";
    background: darkgrey;
    border-radius: $small-button-radius; 
    line-height: $large-font;
  }

  .header {
    margin: $small-font;
    font-size: $medium-font;
    font-family: "Baloo Bhai";

    .icon, .title {
      display: inline-block;
    }

    .icon {
      margin-right: $small-font;
    }
  }
}