.footer-view {
  box-sizing: content-box;
  height: $large-font;
  position: relative;
  align-self: end;

  padding: $small-font;
  
  display: grid;
  align-items: center;

  font-size: $medium-font; 

  .flip-button {
    align-self: end;
    justify-self: center;
    color: $exit-color;
    cursor: pointer;
  }

  .flip-button:hover {
    color: red;
    transition: all 200ms ease-out;
  }
}