#header-view {
  align-self: start;

  box-sizing: content-box;
  display: grid;

  padding: $small-font;

  #title-box {
    #title {
      align-self: start;
      justify-self: start;
      font-size: $medium-font;
      font-family: "Baloo Bhai";
      padding: $small-font;
      font-weight: bold;
    }

    #title-icon, #title {
      display: inline-block;
    }
  }
}