#header-view {
  box-sizing: content-box;
  height: $large-font;
  display: grid;

  #title {
    align-self: start;
    justify-self: start;
    font-size: $medium-font;
    font-family: "Merriweather";
    padding: $small-font;
    font-weight: bold;
  }
}