.tag-view {
  font-size: $medium-font;
  color: white;
  font-family: "Merriweather";
  
  padding: $extra-small-font;

  border-bottom: 1px dashed black;

  text-align: center;
}

.tag-view:last-of-type {
  border: none;
}