.notes-tags-view {
  padding-top: $medium-font;
  padding-bottom: $small-font; 

  .header {
    margin: $small-font;
    font-size: $medium-font;
    font-family: "Baloo Bhai";
    
    .icon {
      margin-right: $small-font;
    }
  }

  .tags {
    margin: $small-font;
    font-size: 1rem;
    font-family: "Baloo Bhai";

    .tag {
      padding: $small-font;
      background-color: $tag-color;
      border-radius: 0.2rem;
      margin-bottom: 0.5rem;
    }
  }
}