.view-page {
  position: relative;
  width: $big-card-width;
  min-height: $big-card-height;
 
  .view-note {
    position: relative;
    width: $big-card-width;
    min-height: $big-card-height;
    background: $card-color;
    
    border-radius: $small-button-radius;

    margin-bottom: 3rem;
    border-radius: 0.2rem
  }
}

