.notes-utils-commentaries {
  padding: $medium-font;
  display: grid;
  grid-gap: 1rem;

  .header {
    color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: end;

    .title {
      justify-self: start;
      display: grid;
      grid-template-columns: 1.5rem auto;
      align-items: center;
      font-size: 1rem;
      font-weight: bold;
      font-family: "Baloo Bhai";;
    }

    .button {
      align-self: end;
    }
  }

  .container-comment {
    display: grid;
    grid-gap: 1rem;

    .comment {
      position: relative;
      textarea {
        color: $black;
        resize: none;
        font-family: "Baloo Bhai";
        background: linear-gradient(#5f88c1,#78adc2);
        border: none;
        padding-right: $medium-font; 
      }
    }
  }
}