.tag-filter {
  position: relative;
  background: $tag-color;
  font-family: "Baloo Bhai";
  color: $white;

  display: grid;
  align-items: center;
  justify-items: center;

  padding: 0.5rem;
}

.tag-filter:hover {
  background-color: #353839;
  color: darkgray;
  transition: all 500ms ease-out;
}