#menu-filter {
  position: relative;

  padding: $small-font;
  align-self: center;
  width: 50vw;

  background:#D9D6CF;
  border-radius: $extra-small-font;

  min-height: 20vh;

  #tags {
    margin: $small-font;

    #header {
      .icon, p {
        display: inline-block;
        display: grid;
        align-items: center;
        justify-items: center;
      }

      .input-group-prepend {
        background: $tag-color;
        color: white;
        font-size: $medium-font;
        border-radius: $small-button-radius 0 0 $small-button-radius;
      }

      .icon {
        font-size: $small-font;
        margin: $extra-small-font;
      }

      p {
        margin-right: $extra-small-font;
      }
    }
  }

  #tags-container {
    margin: $small-font;
    padding: $small-font;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $extra-small-font;
  }

  #tags-submit {
    margin: $small-font;
    font-size: $small-font;
    font-family: "Merriweather";
    padding: $small-font;
  }
}