.notes-filter {
  position: relative;

  padding: $small-font;
  align-self: center;

  background: linear-gradient(#47484a, #5b5e6a);
  border-radius: 0.2rem;

  width: 25rem;
  min-height: 5rem;

  .header {
    margin: $small-font;
    font-family: "Baloo Bhai";
    font-size: $small-font;
  }

  .tags-container {
    margin: $small-font;
    padding: $small-font;

    display: grid;
    grid-gap: $extra-small-font;
    font-family: "Baloo Bhai";
  }

  .tags-submit {
    margin: $small-font;
    letter-spacing: 0.15rem;
    font-size: 1rem;
    font-family: "Baloo Bhai";

    display: grid;
    align-items: center;
    justify-items: center;
  }
}