.notes-menu {
  display: grid;
  align-items: center;
  justify-items: center;

  .notes-title {
    display: grid;
    align-items: center;
    grid-template-columns: 2rem auto;
    font-size: 2rem;
    font-family: "Baloo Bhai";
    color: white;
  }
}
