.notes-page {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;

  .notes-menu {
    display: grid;
    align-items: center;
    justify-items: center;

    .notes-title {
      font-size: 3rem;
      font-family: "Baloo Bhai";
      color: white;
    }
  }
}