#menu-page {
  display: grid;
  justify-items: center;
  align-items: start;
  margin-top: 3rem;

  #notes-menu-title {
    font-size: $large-font;
    font-family: "Baloo Bhai";
    color: white;
  }
}