.note-card {
  height: 300px;
  width: 15vw;
  background: lightgray;
  border-radius: $small-font;

  padding: $small-font;

  display: grid;

  grid-template-rows: $large-font auto;

  .note-display-header {
    display: grid;

    align-self: start;

    grid-template-columns: 1fr 1fr;

    .note-display-title {
      font-size: $medium-font;
      font-family: "Merriweather";

      align-self: center;
      justify-self: start;

      font-weight: bold;
    }

    .controls {
      align-self: center;
      justify-self: end;

      display: grid;

      grid-template-columns: 1fr 1fr;

      grid-gap: $small-font;
      align-items: center;

      .edit, .view {
        font-size: $small-font;
        cursor: pointer;   
      }

      .edit {
        justify-self: end;
      }

      .view {
        justify-self: start;
      }

      .edit:hover, .view:hover {
        transition: all 400ms linear;
        transform: scale(1.2);
      }
    }
  }

  .description {
    font-family: "Comfortaa";
    font-size: $small-font;
    padding: $medium-font;
    margin: $medium-font;
    background: darkgray;
    border-radius: $small-font;
    overflow: hidden;
  }
}