.note-card {
  height: 20rem;
  width: 12.5rem;
  border-radius: 0.4rem;

  padding: $medium-font;

  display: grid;

  grid-template-rows: $large-font auto;
  grid-gap: 1rem;

  background: $card-background;
  
  .note-display-header {
    display: grid;

    align-self: start;

    grid-template-columns: 1fr 1fr;
    color: $white;
    padding: 0.5rem;

    .note-display-title {
      font-size: $small-font;
      font-family: "Baloo Bhai";

      align-self: center;
      justify-self: start;

      font-weight: bold;

      height: $large-font;

      overflow: hidden;

      display: grid;
      align-items: center;
      justify-items: start;

      letter-spacing: 0.1rem;
    }

    .controls {
      align-self: center;
      justify-self: end;

      display: grid;

      grid-template-columns: 1fr 1fr;

      grid-gap: $small-font;
      align-items: center;

      .edit, .view {
        font-size: $small-font;
        cursor: pointer;   
      }

      .edit {
        justify-self: end;
      }

      .view {
        justify-self: start;
      }
    }
  }

  .description {
    font-family: "Baloo Bhai";
    font-size: $small-font;
    padding: $medium-font;
    background: darkgray;
    border-radius: 0.4rem;
    overflow: hidden;
  }
}