.note-card {
  height: 20rem;
  width: 13.5rem;
  border-radius: 0.4rem;

  display: grid;

  grid-template-rows: 1.75rem auto;
  grid-gap: 1rem;

  background: $card-background;
  cursor: pointer;
  
  .note-display-header {
    display: grid;
    align-items: start;

    align-self: start;

    grid-template-columns: 3fr 1fr;
    color: $white;
    padding: $small-font;

    .note-display-title {
      font-size: 1rem;
      font-family: "Baloo Bhai";

      justify-self: start;

      font-weight: bold;

      height: $large-font;

      overflow: hidden;

      display: grid;
      align-items: start;
      justify-items: start;

      letter-spacing: 0.1rem;
    }

    .controls {
      justify-self: end;

      display: grid;

      grid-template-columns: 1fr 1fr;

      grid-gap: $small-font;
      align-items: center;

      .edit, .view {
        font-size: $small-font;
        cursor: pointer;   
      }

      .edit {
        justify-self: end;
      }

      .view {
        justify-self: start;
      }

      .edit:hover, .view:hover {
        color: darkgray;
        transform: scale(1.1);
      }
    }
  }

  .description {
    font-family: "Baloo Bhai";
    font-size: 0.9rem;
    padding: $medium-font;
    margin: $medium-font;
    background: darkgray;
    border-radius: 0.2rem;
    overflow-y: auto;

    text-align: justify;
    text-justify: inter-word;
    color: $black;
  }

  .tags {
    padding: $medium-font;
    overflow-y: auto;

    .tag {
      margin: 0.5rem;
      display: inline-block;
      font-family: "Baloo Bhai";
      font-size: 0.9rem;
      padding: $small-font;
      color: $black;
      background: darkgray;
      border-radius: 0.2rem;
    }
  }
}