#edit-page {
  display: grid;
  justify-items: center;
  align-items: start;

  margin-bottom: $large-font;

  #edit-note {
    position: relative;
    margin-top: 5vh;
    background-color: lightgrey;
    width: 40vw;
    min-height: 50vh;
    display: grid;
    border-radius: $extra-small-font; 
  }
}