.notes-edit-page {
  position: relative;

  .notes-edit {
    position: relative;
    background-color: lightgrey;
    width: $big-card-width;
    min-height: $big-card-height;
    display: grid;
    grid-template-rows: auto;
    border-radius: 0.2rem; 
    grid-row-gap: $small-font;
  }
}