#edit-page {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: start;

  width: 100vw;

  margin-bottom: $large-font;

  .separator {
    margin-top: $small-font;
    border-bottom: $thin-border solid black;
  }

  #edit-note {
    position: relative;
    margin-top: 3rem;
    background-color: lightgrey;
    width: $big-card-width;
    min-height: $big-card-height;
    display: grid;
    grid-template-rows: auto;
    border-radius: 0.2rem; 
    grid-row-gap: $small-font;

    // box-shadow: 0.2rem 0.2rem 1rem #555,
    //             -0.2rem -0.2rem 1rem #555;
  }
}