#footer-edit {
  min-height: $large-font;
  align-self: end;

  display: grid;
  grid-template-columns: 1fr 1fr;

  #trash {
    cursor: pointer;
    background: $exit-color;
    color: rgba(0, 0, 0, 0.5);
    justify-self: stretch;
    align-self: stretch;
    font-size: $medium-font;

    display: grid;
    align-items: center;
    justify-items: center;

    border-radius: $small-button-radius;
  }

  #trash:hover {
    transition: all 250ms ease-out;
    background: darkred;
    color: black;
  }
}