#footer-edit {
  align-self: end;

  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: $medium-font;

  #trash {
    cursor: pointer;
    color: $exit-color;

    justify-self: center;
    align-self: center;
    font-size: $medium-font;
  }
}