#footer-edit {
  min-height: $large-font;
  align-self: end;

  display: grid;
  grid-template-columns: 1fr 1fr;

  #trash {
    cursor: pointer;
    background: linear-gradient(#9b0a18,#c8372e);
    color: white;
    justify-self: stretch;
    align-self: stretch;
    font-size: 1rem;

    display: grid;
    align-items: center;
    justify-items: center;
    
    border-radius: $small-button-radius;
  }

  #trash:hover {
    transition: all 250ms ease-out;
    color: darkgray;
  }

  .footer-edit-finish-button {
    background: linear-gradient(#005139, #2f9254);
  }

  .footer-edit-finish-button:hover {
    color: darkgray;
    transition: all 250ms ease-out;
  }
}