.notes-edit-header {
  position: relative;
  height: 4rem; 

  display: grid;
  align-items: center;
  justify-items: center;

  grid-template-rows: 4rem;
  
  .title {
    font-family: "Baloo Bhai";
    font-size: $medium-font;
    color: black;
  } 
}