#header-edit {
  min-height: $large-font;
  position: relative;
  font-size: $large-font;
  display: grid;
  
  #header-title {
    align-self: start;
    justify-self: center;
    font-family: "Baloo Bhai";
    padding: $small-font;
  } 
}