.collections-add-page {
  position: relative; 
    
  .collections-add {
    position: relative;
    min-height: $big-card-height;
    width: $big-card-width;
    background: $card-color;
    border-radius: 0.2rem;
  }
}