.sign-up-form {
  margin: $large-font;
  background: white;
  border-radius: 0.2rem;

  padding: $small-font;

  display: grid;
  font-family: "Baloo Bhai"; 
  color: $black;

  .sign-up-button {
    background: #28a745;;
    color: white;
    font-weight: bold;
    font-family: "Baloo Bhai"; 
    border-radius: 0.2rem;
    margin: $extra-small-font;
    height: 2rem;
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .sign-up-button:hover {
    transition: all 250ms ease-out;
    color: darkgray;
  }
}