.collections-utils-description {
  padding: $medium-font;
  display: grid;
  grid-gap: 1rem;

  .header {
    display: grid;
    grid-template-columns: 1.5rem auto;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Baloo Bhai";
    color: $white;
  }

  .description {
    textarea {
      resize: none;
      font-family: "Baloo Bhai";
      border: none;
      background: linear-gradient(#a7c6eb,#78adc2);
      color: $black;
    }
  }
}