.collections-add-header {
  position: relative;
  height: 4rem; 

  display: grid;
  align-items: center;
  justify-items: center;
  color: $white;
  
  .title {
    font-family: "Baloo Bhai";
    font-size: $medium-font;
  }
}