.collections-utils-title {
  padding: $medium-font;

  display: grid;
  grid-template-columns: 1fr 3fr;

  .header {
    font-family: "Merriweather";
    font-size: $small-font;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1.5rem auto; 
    align-items: center;
    justify-items: start;
  }

  .title {
    font-family: "Merriweather";
    font-size: $small-font;
    height: 2rem;
    padding: $medium-font;
  }
}